# Server
PORT=5000
NODE_ENV=development

# PostgreSQL
PG_HOST=postgres
PG_PORT=5432
PG_USER=educore
PG_PASSWORD=educore123
PG_DATABASE=educore_db

# MongoDB
MONGO_URI=mongodb://educore:educore123@mongodb:27017/educore_content?authSource=admin

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d